# Write a Code to Sort an Array in Numpy by the (N-1)th Column

In [1]:
import numpy as np

In [2]:
x = np.array([[1,2,3], [0,5,2], [2,3,4]])
x[x[:,1].argsort()]

array([[1, 2, 3],
       [2, 3, 4],
       [0, 5, 2]])

This code sorts the NumPy array x based on the values in the second column (index 1):

x[:, 1] selects all rows and the second column of the array x.

.argsort() returns the indices that would sort the selected column.

x[...] uses these indices to reorder the rows of the original array x.

# How Do You Create a Series from a List, Numpy Array, and Dictionary

In [3]:
import pandas as pd

In [5]:
mylist  = list('abcdefghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

mydict

{'a': np.int64(0),
 'b': np.int64(1),
 'c': np.int64(2),
 'd': np.int64(3),
 'e': np.int64(4),
 'f': np.int64(5),
 'g': np.int64(6),
 'h': np.int64(7),
 'i': np.int64(8),
 'j': np.int64(9),
 'k': np.int64(10),
 'l': np.int64(11),
 'm': np.int64(12),
 'n': np.int64(13),
 'o': np.int64(14),
 'p': np.int64(15),
 'q': np.int64(16),
 'r': np.int64(17),
 's': np.int64(18),
 't': np.int64(19),
 'u': np.int64(20),
 'v': np.int64(21),
 'w': np.int64(22),
 'x': np.int64(23),
 'y': np.int64(24),
 'z': np.int64(25)}

In [7]:
ser1 = pd.Series(mylist)

ser2 = pd.Series(myarr)

ser3 = pd.Series(mydict)

print(ser3.head())

a    0
b    1
c    2
d    3
e    4
dtype: int64

# How Do You Get the Items Not Common to Both Series A and Series B?

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [10]:
# union
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [11]:
# intersection
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_i

0    4
1    5
dtype: int64

In [12]:
ser_u[~ser_u.isin(ser_i)] # This code is finding the elements in ser_u that are not present in ser_i
ser_u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

# How Do You Keep Only the Top Two Most Frequent Values as It Is and Replace Everything Else as ‘other’ in a Series?

In [13]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [14]:
print("Top 2 Freq:", ser.value_counts())

Top 2 Freq: 1    4
3    3
4    3
2    2
Name: count, dtype: int64

In [15]:
print("Top 2 Freq:", ser.value_counts())
ser

Top 2 Freq: 1    4
3    3
4    3
2    2
Name: count, dtype: int64

0     3
1     4
2     4
3     1
4     1
5     3
6     2
7     3
8     1
9     1
10    2
11    4
dtype: int64

# How Do You Find the Positions of Numbers That Are Multiples of Three from a Series?

In [16]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    8
1    6
2    6
3    3
4    3
5    7
6    5
dtype: int64

In [17]:
print(ser)

0    8
1    6
2    6
3    3
4    3
5    7
6    5
dtype: int64

In [18]:
np.argwhere(ser % 3==0)

array([[1],
       [2],
       [3],
       [4]])

# How Do You Compute the Euclidean Distance Between Two Series?

In [19]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [20]:
sum((p - q)**2)**.5   # normal soln

18.16590212458495

In [21]:
np.linalg.norm(p-q)    # soln using a function

np.float64(18.16590212458495)

# How Do You Reverse the Rows of a Data Frame?

In [22]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

df.iloc[::-1]
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24