# How to combine two Pandas DataFrames.

In [1]:
import pandas as pd

In [2]:
can_weather = pd.DataFrame({
"city": ["Vancouver","Toronto","Montreal"],
"temperature": [72,65,50],
"humidity": [40, 20, 25]
})

us_weather = pd.DataFrame({
"city": ["SF","Chicago","LA"],
"temperature": [60,40,85],
"humidity": [30, 15, 55]
})

In [3]:
df = pd.concat([can_weather, us_weather])

In [4]:
print(df)

        city  temperature  humidity
0  Vancouver           72        40
1    Toronto           65        20
2   Montreal           50        25
0         SF           60        30
1    Chicago           40        15
2         LA           85        55

# How to define a Pandas DataFrame consisting of income-related values.

In [5]:
summary = {
'Quarter': ['Q1', 'Q2', 'Q3', 'Q4'],
'Cost': [23500, 34000, 57000, 32000],
'Revenue': [40000, 40000, 40000, 40000]
}

In [9]:
df = pd.DataFrame(summary)
df

  Quarter   Cost  Revenue
0      Q1  23500    40000
1      Q2  34000    40000
2      Q3  57000    40000
3      Q4  32000    40000

In [10]:
print("Entire Dataset:\n",df)

Entire Dataset:
   Quarter   Cost  Revenue
0      Q1  23500    40000
1      Q2  34000    40000
2      Q3  57000    40000
3      Q4  32000    40000

In [11]:
print("Quarter:\n",df.Quarter)

Quarter:
 0    Q1
1    Q2
2    Q3
3    Q4
Name: Quarter, dtype: object

In [12]:
print("Cost:\n",df.Cost)

Cost:
 0    23500
1    34000
2    57000
3    32000
Name: Cost, dtype: int64

In [13]:
print("Revenue:\n",df.Revenue)

Revenue:
 0    40000
1    40000
2    40000
3    40000
Name: Revenue, dtype: int64

# Define a Pandas DataFrame consisting of income-related values.

In [14]:
summary = {
'Quarter': ['Q1', 'Q2', 'Q3', 'Q4'],
'Cost': [-23500, -34000, -57000, -32000],
'Revenue': [40000, 40000, 40000, 40000]
}

In [15]:
df = pd.DataFrame(summary)
print("First Dataset:\n",df)

First Dataset:
   Quarter   Cost  Revenue
0      Q1 -23500    40000
1      Q2 -34000    40000
2      Q3 -57000    40000
3      Q4 -32000    40000

In [17]:
df['Total'] = df[['Cost', 'Revenue']].sum(axis=1)
print("Second Dataset:\n",df)

Second Dataset:
   Quarter   Cost  Revenue  Total
0      Q1 -23500    40000  16500
1      Q2 -34000    40000   6000
2      Q3 -57000    40000 -17000
3      Q4 -32000    40000   8000